@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.cdnfonts.com/css/cocogoose");

$font1: cocogoose, sans-serif;
$font2: lato, sans-serif;


$hover-color : #EC5242;
$primary-dark-color : #272A31;
$primary-white-color : #D3D3D3;
$header-background-color: #faf7f7;

$font-weights: (
    regular: 400,
    medium: 500,
    bold: 700,
);

body,
h1,
h2,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.open-nav{
  font-size: 30px;
  margin: 10px;
  // position: fixed;
  display: none;
}

.open-nav.active{
  display: flex;
}

.close-nav{
  display: flex;
  font-size: 20px;
  color: $hover-color;
  justify-content: end;
  // font-size: 30px;
  margin: 0;
}

.close-nav.active {
  display: none;
}




.time-put-up {
  margin: 20px 20px 0 0;
}

.aside-content {
position: relative;
background-color: $primary-dark-color;
height: 100vh;
width: 100%;
}

.top-nav-content {
  display: flex;
  justify-content: space-around;
  font-family: $font1;
  font-size: small;
  color: $primary-white-color;
  margin-top: 70px;
}

.top-nav-content a {
  color: $primary-white-color;
  font-family: $font2;
font-size: 20px;
}

.top-nav-content i:hover, .top-nav-content a:hover {
  color: $hover-color;
}

.center-btn-logo{
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.button-logo {
  display: flex;
  border: none;
  align-items: center;
  gap: 5px;
  color: $hover-color;
  background-color: transparent;
   & i {
     font-size: 60px;
   }
}

.logo-name {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: $font2;
}

.header-middle-content {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}

.header-middle-content li a {
color: $primary-white-color;
font-family: $font2;
font-size: 20px;
  
&:hover {
  color: $hover-color;
}
}

.campaign-button {
  padding: 20px auto;
  display: flex;
  align-items: center;
  border: 2px solid grey;
  background-color: transparent;
  color: $header-background-color;
  padding: 3px 25px;
  opacity: 0.5;
}

.campaign-btn-center {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

































@media screen  and (min-width: 768px) {
.open-nav{
  display: none;
}
.close-nav {
  display: none;
}

    .top-nav{
        width: 100%;
        background-color: $primary-dark-color;
        height: 40px;
        display: flex;
        justify-content: end;

    &-content {
        margin-right: 100px;
        // border: 2px solid green;
        display: flex;
        gap: 40px;
        align-items: center;
        color: $primary-white-color;
        font-weight: map-get($font-weights , medium);
        margin-top: 0;
    
        i:hover {
            color: $hover-color;
        }
    a{
        color: $primary-white-color;
    
        &:hover{
            color: $hover-color;
        }
    }
    }
    }

    .center-btn-logo{
      display: flex;
      justify-content: center;
      margin-top: 0;
    }
    
    
.header-content {
  display: flex;
  justify-content: space-around;
  background-color: $header-background-color;
  border-bottom: 1px solid #e9e7e7;
  box-shadow: 0 0 8px 03px #c4c1c1;
align-items: center;
width: 100%;
height: 80px;
z-index: 5;
   .button-logo{
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    background-color: $header-background-color;

& i{
  font-size: 50px;
  color: $hover-color;
}

    .logo-name{
    font-family: $font1;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0;
    padding: 0;

    span {
      margin: 0;
      padding: 0;
    }
    }
   }  
}

.header-middle-content {
  display: flex;
  width: 50%;
  justify-content: space-between;
font-size: 20px;
font-family: $font2;
margin-top: 0px;



  & li a:hover{
    color: $hover-color;
  }
}

.campaign-btn-center {
  margin-top: 0;
}


.campaign-button {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid $hover-color;
  color: $hover-color;
  font-family: $font2;
  padding: 10px 3px;
}

  & i{
    font-size: 20px;
  }

}

.bigger-body-bg {
  background-size: cover;
  height: 100vh;
  background-position: top;
  background-image: url(/images/bkgrnd.png);
  background-repeat: no-repeat;
  // z-index: 10;
}


.header-middle-content li a {
  color: $primary-dark-color;
  }


















































































































}
