@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.cdnfonts.com/css/cocogoose");

$font1: cocogoose, sans-serif;
$font2: lato, sans-serif;

$hover-color : #ec5242;
$primary-dark-color : #272a31;
$primary-white-color : #d3d3d3;
$header-background-color: #faf7f7;

$font-weights: (
  regular: 400,
  medium: 500,
  bold: 700,
);

body,
h1,
h2,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.open-nav {
  font-size: 30px;
  margin: 20px;
  // position: fixed;
  display: flex;
  // z-index: 20;
}

.open-nav.active {
  display: flex;
}

.close-nav {
  display: flex;
  font-size: 20px;
  color: $hover-color;
  justify-content: end;
  // font-size: 30px;
  margin: 0;
}

// .close-nav.active {
//   display: none;
// }

.time-put-up {
  margin: 20px 20px 0 0;
}

.aside-content {
  position: fixed;
  background-color: $primary-dark-color;
  height: 100vh;
  width: 100%;
  display: none;
}

.aside-content.active {
  display: block;
}

.top-nav-content {
  display: flex;
  justify-content: space-around;
  font-family: $font1;
  font-size: small;
  color: $primary-white-color;
  margin-top: 70px;
}

.top-nav-content a {
  color: $primary-white-color;
  font-family: $font2;
  font-size: 20px;
}

.top-nav-content i:hover,
.top-nav-content a:hover {
  color: $hover-color;
}

.center-btn-logo {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.button-logo {
  display: flex;
  border: none;
  align-items: center;
  gap: 5px;
  color: $hover-color;
  background-color: transparent;

  & i {
    font-size: 60px;
  }
}

.logo-name {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: $font2;
}

.header-middle-content {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}

.header-middle-content li a {
  color: $primary-white-color;
  font-family: $font2;
  font-size: 20px;
}

.header-middle-content li a:hover {
  color: $hover-color;
}

.campaign-button {
  padding: 20px auto;
  display: flex;
  align-items: center;
  border: 2px solid grey;
  background-color: transparent;
  color: $header-background-color;
  padding: 3px 25px;
  opacity: 0.5;
}

.campaign-btn-center {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.bigger-body-bg {
  background-size: cover;
  height: 554px;
  margin-top: 0;
  width: 100%;
  background-position: top;
  background-image: url(/images/background.png);
  background-repeat: no-repeat;
}

.header-text-content {
  padding: 90px 17px 0 17px;
}


.header-text-h3 {
  color: $hover-color;
  font-family: $font2;
}

.header-text-h1 {
  font-family: $font1;
  color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;
  -webkit-background-clip: text;
  color: transparent;
  background-position: top;
  background-image: url(/images/red-bg.jpg);
}

.header-text-para {
  background-color: white;
padding: 5px 8px 0 30px;
font-family: $font2;
}


.next-class-date {
  font-family: $font1;
  font-size: 20px;
}





.main-curriculum-bg {
  background-size: cover;
  height: 80vh;
  width: 100%;
  background-position: top;
  background-image: url(/images/curriculum-bg.jpg);
  background-repeat: no-repeat;
}






























































































































@media screen  and (min-width: 768px) {
  .header-content {
    display: flex;
    justify-content: space-around;
    background-color: $header-background-color;
    border-bottom: 1px solid #e9e7e7;
    box-shadow: 0 0 8px 03px #c4c1c1;
    align-items: center;
    width: 100%;
    height: 80px;
    z-index: 5;
    // position: fixed;
  }
.whole-body-nav {
    // position: fixed;
    width: 100%;
    height: 40px;
}

  .top-nav {
    width: 100%;
    background-color: $primary-dark-color;
    height: 40px;
    display: flex;
    justify-content: end;
    z-index: 5;

  }


  .button-logo {
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    background-color: $header-background-color;
  }

  .header-content i {
    font-size: 50px;
    color: $hover-color;
  }

  .header-middle-content {
    display: flex;
    width: 50%;
    justify-content: space-between;
    font-size: 20px;
    font-family: $font2;
    margin-top: 0;
  }

  .header-middle-content li a:hover {
    color: $hover-color;
  }

  .logo-name {
    font-family: $font1;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0;
    padding: 0;
  }

  .logo-name span {
    margin: 0;
    padding: 0;
  }

  .header-middle-content li a {
    color: $primary-dark-color;
  }


  .open-nav {
    display: none;
  }

  .close-nav {
    display: none;
  }


  .top-nav-content {
    margin-right: 100px;
    // border: 2px solid green;
    display: flex;
    gap: 40px;
    align-items: center;
    color: $primary-white-color;
    font-weight: map-get($font-weights, medium);
    margin-top: 0;
  }

  .top-nav-content i:hover {
    color: $hover-color;
  }

  .top-nav-content a {
    color: $primary-white-color;
  }

  .top-nav-content a:hover {
    color: $hover-color;
  }


  .center-btn-logo {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }

  .campaign-btn-center {
    margin-top: 0;
  }


  .campaign-button {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 4px solid $hover-color;
    color: $hover-color;
    font-family: $font2;
    padding: 2px 40px;
  }

  .campaign-button i {
    font-size: 20px;
    margin: 0;
  }

  .bigger-body-bg {
    background-size: cover;
    height: 100vh;
    margin-top: 3px;
    background-position: top;
    background-image: url(/images/bkgrnd.png);
    background-repeat: no-repeat;
  }

  .aside-content {
    display: contents;
  }

  .header-text-content {
    padding: 90px 100px 0 100px;
  }


  .header-text-h3 {
    color: $hover-color;
    font-family: $font2;
    font-size: 40px;
  }

  .header-text-h1 {
    font-family: $font1;
    color: transparent;
    font-size: 80px;
    background-size: cover;
    background-clip: content-box;
    -webkit-background-clip: text;
    background-position: top;
    line-height: 1.2;
    color: transparent;
    background-image: url(/images/red-bg.jpg);
  }


  .header-text-para {
    background-color: white;
  padding: 8px 950px 0 150px;
  font-family: $font2;
  }

  .next-class-date {
    font-family: $font1;
    font-size: 40px;
    opacity: 0.7;
  }


  .main-curriculum-bg {
    background-size: cover;
    height: 40vh;
    width: 100%;
    background-position: top;
    background-image: url(/images/curriculum-bg.jpg);
    background-repeat: no-repeat;
  }





























































































}
