@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.cdnfonts.com/css/cocogoose");
body,
h1,
h2,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.open-nav {
  font-size: 30px;
  margin: 20px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.open-nav.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.close-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  color: #EC5242;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 0;
}

.time-put-up {
  margin: 20px 20px 0 0;
}

.aside-content {
  position: fixed;
  background-color: #272A31;
  height: 100vh;
  width: 100%;
  display: none;
}

.aside-content.active {
  display: block;
}

.top-nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: cocogoose, sans-serif;
  font-size: small;
  color: #D3D3D3;
  margin-top: 70px;
}

.top-nav-content a {
  color: #D3D3D3;
  font-family: lato, sans-serif;
  font-size: 20px;
}

.top-nav-content i:hover, .top-nav-content a:hover {
  color: #EC5242;
}

.center-btn-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
}

.button-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  color: #EC5242;
  background-color: transparent;
}

.button-logo i {
  font-size: 60px;
}

.logo-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 18px;
  font-family: lato, sans-serif;
}

.header-middle-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 70px;
}

.header-middle-content li a {
  color: #D3D3D3;
  font-family: lato, sans-serif;
  font-size: 20px;
}

.header-middle-content li a:hover {
  color: #EC5242;
}

.campaign-button {
  padding: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid grey;
  background-color: transparent;
  color: #faf7f7;
  padding: 3px 25px;
  opacity: 0.5;
}

.campaign-btn-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.bigger-body-bg {
  background-size: cover;
  height: 100vh;
  background-position: top;
  background-image: url(/images/background.png);
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #faf7f7;
    border-bottom: 1px solid #e9e7e7;
    -webkit-box-shadow: 0 0 8px 03px #c4c1c1;
            box-shadow: 0 0 8px 03px #c4c1c1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 80px;
    z-index: 5;
  }
  .button-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    border: none;
    background-color: #faf7f7;
  }
  .header-content i {
    font-size: 50px;
    color: #EC5242;
  }
  .header-middle-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 20px;
    font-family: lato, sans-serif;
    margin-top: 0px;
  }
  .header-middle-content li a:hover {
    color: #EC5242;
  }
  .logo-name {
    font-family: cocogoose, sans-serif;
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 0;
    padding: 0;
  }
  .logo-name span {
    margin: 0;
    padding: 0;
  }
  .header-middle-content li a {
    color: #272A31;
  }
  .open-nav {
    display: none;
  }
  .close-nav {
    display: none;
  }
  .top-nav {
    width: 100%;
    background-color: #272A31;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .top-nav-content {
    margin-right: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #D3D3D3;
    font-weight: 500;
    margin-top: 0;
  }
  .top-nav-content i:hover {
    color: #EC5242;
  }
  .top-nav-content a {
    color: #D3D3D3;
  }
  .top-nav-content a:hover {
    color: #EC5242;
  }
  .center-btn-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
  }
  .campaign-btn-center {
    margin-top: 0;
  }
  .campaign-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    border: 4px solid #EC5242;
    color: #EC5242;
    font-family: lato, sans-serif;
    padding: 2px 40px;
  }
  .campaign-button i {
    font-size: 20px;
    margin: 0;
  }
  .bigger-body-bg {
    background-size: cover;
    height: 100vh;
    background-position: top;
    background-image: url(/images/bkgrnd.png);
    background-repeat: no-repeat;
  }
  .aside-content {
    display: contents;
  }
}
/*# sourceMappingURL=index.css.map */